html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: serif;
    background: #111;
    color: #2b1b0f;
}

header {
    background: #000;
}

.top-menu ul {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.top-menu li {
    margin-right: 20px;
    position: relative;
}

.top-menu a {
    color: white;
    text-decoration: none;
}

.don-button {
    background: crimson;
    padding: 6px 12px;
    border-radius: 4px;
}

.submenu {
    display: none;
    position: absolute;
    background: #222;
    padding: 5px;
}

.lang-switch:hover .submenu {
    display: block;
}

main.content {
    flex: 1;
    padding: 40px;
}

.parchment {
    background: url("../images/parchment_texture.jpg") repeat-y center top;
    background-size: cover;
    padding: 60px;
    min-height: 100%;
}

#lang-text p {
    margin-bottom: 1em;
}

.audio-box {
    margin-top: 30px;
}

.footer {
    text-align: center;
    padding: 15px;
    background: #000;
    color: #aaa;
}

.licorne-run {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.licorne-run img {
    width: 120px;
}
