# Empêche Docker de copier des trucs inutiles dans l’image
__pycache__/
*.pyc
*.pyo
*.pyd

env/
.venv/
venv/
ENV/

# Git et fichiers de versioning
.git/
.gitignore

# Logs
*.log

# IDE & éditeurs
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# Cache pip
pip-wheel-metadata/
*.egg-info/
dist/
build/
