{% extends "layout.html" %}
{% block content %}
<h1>Welcome to the Legends of Jeddi’s World</h1>

<p>
Welcome to Legends of Jeddi’s World.<br><br>
Curious minds, wanderers of imagination, seekers of stories and everyday dreamers… step inside.<br>
Here, tales blend with legends, old pages awaken, and distant worlds open their doors to you.<br>
Each text is an adventure, whether born from ancient archives, literary discoveries, or inspirations from elsewhere.<br><br>
Let your steps slide between the lines, follow the trail of forgotten heroes, and explore this realm where words shape entire universes.<br><br>
Safe travels.
</p>
{% endblock %}
