{% extends "layout.html" %}

{% block content %}
<h2>Ajouter une légende</h2>

<form method="post" enctype="multipart/form-data">

    <label>Mot de passe admin :</label>
    <input type="password" name="password" required>

    <label>Titre :</label>
    <input type="text" name="titre" required>

    <label>Texte :</label>
    <textarea name="texte" required></textarea>

    <label>Catégorie :</label>
    <input type="text" name="categorie">

    <label>Image :</label>
    <input type="file" name="image">

    <button type="submit">Publier</button>
</form>

{% endblock %}
