body {
    background: #faf3ff;
    color: #2c0048;
    font-family: "Trebuchet MS", sans-serif;
    transition: background 1s, color 1s;
}

body.nuit {
    background: #0d0017;
    color: #f2d5ff;
}

.banner {
    width: 100%;
}

.licorne {
    width: 150px;
    display: block;
    margin: auto;
}
