body {
    background: url("../images/grimoire.png");
    font-family: Arial;
}

.banniere {
    text-align: center;
    padding: 20px;
}

.logo-licorne {
    width: 180px;
    height: auto;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu > li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    background: #fff;
    padding: 10px;
    list-style: none;
}

.menu > li:hover .submenu {
    display: block;
}
