{% extends "layout.html" %}
{% block content %}
<h1>Willkommen in den Legenden der Welt von Jeddi</h1>

<p>
Willkommen bei Legenden der Welt von Jeddi.<br><br>
Neugierige, Reisende der Fantasie, Geschichtensucher und Alltags­träumer, tretet ein.<br>
Hier vermischen sich Erzählungen mit Legenden, alte Seiten erwachen, und ferne Welten öffnen ihre Tore.<br>
Jeder Text ist ein Abenteuer, ob aus alten Archiven, literarischen Fundstücken oder Inspirationen aus anderen Welten.<br><br>
Lasst eure Schritte zwischen den Zeilen gleiten, folgt den Spuren vergessener Helden und erkundet dieses Reich, in dem Worte ganze Universen erschaffen.<br><br>
Gute Reise.
</p>
{% endblock %}
