{% extends "layout.html" %}
{% block title %}Accueil — Légendes du Monde de Jeddi{% endblock %}
{% block content %}
<h2>Bienvenue, voyageur intrépide,</h2>
<p>Bienvenue sur Légendes du Monde de Jeddi

Curieux, voyageurs de l’imaginaire, chasseurs d’histoires et rêveurs du quotidien, entrez.
Ici, les récits se mêlent aux légendes, les vieilles pages se réveillent, et les mondes lointains vous ouvrent leurs portes. Chaque texte est une aventure, qu’il vienne d’archives anciennes, de trouvailles littéraires ou d’inspirations venues d’ailleurs.
Laissez vos pas glisser entre les lignes, suivez la trace des héros oubliés, et explorez ce royaume où les mots façonnent des univers.
Bonne traversée.
</p>
{% endblock %}
