{% extends "layout.html" %}
{% block content %}
<h1>Bienvenidos a las Leyendas del Mundo de Jeddi</h1>

<p>
Bienvenidos a Leyendas del Mundo de Jeddi.<br><br>
Curiosos, viajeros de la imaginación, cazadores de historias y soñadores cotidianos, pasen.<br>
Aquí, los relatos se mezclan con las leyendas, las páginas antiguas despiertan y los mundos lejanos abren sus puertas.<br>
Cada texto es una aventura, ya provenga de archivos antiguos, hallazgos literarios o inspiraciones de otros lugares.<br><br>
Dejen que sus pasos se deslicen entre las líneas, sigan la huella de los héroes olvidados y exploren este reino donde las palabras moldean universos.<br><br>
Buen viaje.
</p>
{% endblock %}
