{% extends "layout.html" %}
{% block title %}Benvenuto{% endblock %}

{% block content %}
<h2>Benvenuto nel Mondo di Jeddi</h2>
<p>Benvenuto, intrepido viaggiatore,

a Legend of the World of Jeddi!

Entra, senza bussare: qui le porte si aprono come per magia, con quel piccolo cigolio che promette avventure. Sei appena entrato in un universo dove l'immaginazione regna sovrana, dove le storie rimbombano come tempeste lontane e dove ogni passo può risvegliare una leggenda sopita.
Fai un respiro profondo, sfodera un sorriso e, se ne hai uno, scatena la tua cara curiosità di un tempo. Qui, ti porterò a esplorare terre governate solo da magia, poesia e un pizzico di audacia. Incontrerai eroi un po' malconci, creature con un'opinione su tutto e misteri che aspettano solo che tu li sveli.
Accomodati, esplora, spalanca gli occhi:
il Mondo di Jeddi ti accoglie come un vecchio amico.
Che l'avventura abbia inizio.</p>
{% endblock %}
