{% extends "layout.html" %}
{% block content %}
  <h2>{{ t.get('title_don') }}</h2>

  <div class="don-text">
    <p>{{ t.get('don_paragraph_1') }}</p>
    <p>{{ t.get('don_paragraph_2') }}</p>
    <p>{{ t.get('don_paragraph_3') }}</p>
  </div>

  <div class="don-action" style="margin-top:18px;">
    <form action="https://www.paypal.com/donate" method="post" target="_blank">
      <input type="hidden" name="business" value="{{ paypal_business }}">
      <input type="hidden" name="currency_code" value="{{ t.get('currency','EUR') }}">
      <button class="don-btn" type="submit">{{ t.get('don_button') }}</button>
    </form>
  </div>
{% endblock %}
