{% extends "base.html" %}

{% block content %}

<h1>Faire un Don</h1>

<p>
Ce site est un travail de préservation et de partage des récits du passé. Votre aide permet de maintenir ces archives vivantes.
</p>

<p>
Les dons sont indispensables pour garantir la poursuite et la qualité de notre travail. Beaucoup de ressources essentielles nécessitent des frais réguliers : abonnements à des bibliothèques en ligne, accès aux archives, relecture par des spécialistes, etc.
</p>

<p>
Grâce à votre soutien, nous pouvons continuer à préserver, étudier et rendre accessible un patrimoine littéraire et historique souvent difficile d’accès. Chaque contribution renforce la pérennité de ce travail.
</p>

<!-- Formulaire PayPal -->
<form action="https://www.paypal.com/donate" method="post" target="_blank">
    <input type="hidden" name="business" value="{{ paypal_email }}">
    <input type="hidden" name="no_recurring" value="1">
    <input type="hidden" name="currency_code" value="EUR">
    <button type="submit" class="don-btn">Faire un don</button>
</form>

{% endblock %}
