{% extends "layout.html" %}
{% block title %}Donazione{% endblock %}

{% block content %}
<h2>Sostieni Jeddi</h2>
<p>Questo sito web è dedicato alla conservazione e alla condivisione di storie del passato. Il vostro sostegno contribuisce a mantenere vivi questi archivi.

Le donazioni sono essenziali per garantire la continuità e la qualità del nostro lavoro. Molte risorse chiave, inclusi testi accessibili solo tramite abbonamento alla BnF, accesso a database online e archivi digitalizzati, richiedono una manutenzione continua. A ciò si aggiungono i costi associati alla revisione e alla traduzione, eseguite da specialisti del francese antico e delle varietà linguistiche delle ex colonie francesi, la cui competenza è fondamentale per la riproduzione accurata dei documenti d'epoca.
Le donazioni ci consentono inoltre di acquistare o noleggiare libri rari o fuori catalogo, essenziali per condurre ricerche approfondite e rigorose. Grazie al vostro sostegno, possiamo continuare a preservare, studiare e rendere accessibile un patrimonio letterario e storico spesso di difficile accesso. Ogni contributo, per quanto piccolo, rafforza la sostenibilità di questo lavoro e contribuisce direttamente alla diffusione di una conoscenza inestimabile.</p>
{% endblock %}
