{% extends "layout.html" %}
{% set lang = "es" %}

{% block content %}
<h1>Apoyar las Leyendas de Jeddi</h1>

<form action="https://www.paypal.com/donate" method="post" target="_blank">
    <input type="hidden" name="business" value="{{ paypal }}">
    <input type="hidden" name="currency_code" value="EUR">
    <button class="don-btn">Donar</button>
</form>

<p>Este sitio web se dedica a preservar y compartir historias del pasado. Su apoyo contribuye a mantener vivos estos archivos.

Las donaciones son esenciales para garantizar la continuidad y la calidad de nuestro trabajo. Muchos recursos clave, incluyendo textos accesibles solo mediante una suscripción a la BnF, acceso a bases de datos en línea y archivos digitalizados, requieren un mantenimiento continuo. Además, existen los costos asociados con la corrección y la traducción, realizadas por especialistas en francés antiguo y las variedades lingüísticas de las antiguas colonias francesas, cuya experiencia es crucial para reproducir con precisión los documentos de la época.
Las donaciones también nos permiten comprar o alquilar libros raros o descatalogados, esenciales para realizar investigaciones exhaustivas y rigurosas. Gracias a su apoyo, podemos seguir preservando, estudiando y haciendo accesible un patrimonio literario e histórico a menudo de difícil acceso. Cada contribución, por pequeña que sea, fortalece la sostenibilidad de esta labor y contribuye directamente a la difusión de un conocimiento invaluable.
</p>
{% endblock %}
