{% extends "layout.html" %}
{% block title %}Galerie — {{ lang|upper }}{% endblock %}
{% block content %}
<h2>Galerie</h2>
{% if images %}
  <div class="gallery-grid">
    {% for img in images %}
      <div class="gallery-item">
        <a href="{{ url_for('static', filename='uploads/' + img) }}" target="_blank">
            <img src="{{ url_for('static', filename='uploads/' + img) }}" alt="{{ img }}">
        </a>
        <div style="text-align:center; font-size:14px; margin-top:6px;">{{ img }}</div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>Aucune image dans la galerie pour l'instant.</p>
{% endif %}
{% endblock %}
