{% extends "layout.html" %}
{% block title %}Galería — ES{% endblock %}

{% block content %}
<h2 class="galerie-title">📜 Galería Encantada</h2>

<div class="galerie-container">
    <div class="galerie-item"><img src="{{ url_for('static', filename='images/grimoire.png') }}"><p>Viejo grimorio</p></div>
    <div class="galerie-item"><img src="{{ url_for('static', filename='images/licorne.png') }}"><p>Unicornio místico</p></div>
    <div class="galerie-item"><img src="{{ url_for('static', filename='images/parchment_texture.jpg') }}"><p>Pergamino</p></div>
</div>
{% endblock %}
