{% extends "layout.html" %}
{% block title %}Galerie{% endblock %}
{% block content %}
<h2>Galerie des Créatures</h2>
<p>Un lieu où les images murmurent autant que les mots…
Ici, les ombres ont une mémoire, et la lumière porte des secrets que seuls les cœurs attentifs savent entendre.
Bientôt, vous y croiserez des créatures nées du souffle ancien des légendes, des artefacts imprégnés de magie oubliée, et des paysages façonnés par les rêves du monde d’avant.
Que vous veniez en visiteur ou en quêteur d’imaginaire, laissez-vous guider : chaque image y est une porte, chaque mot une clé, et chaque pas un voyage vers l’invisible.

</p>
{% endblock %}
