{% extends "layout.html" %}

{% block title %}{{ legende.titre }}{% endblock %}

{% block content %}
<article>
  <h2>{{ legende.titre }}</h2>

  {% if legende.image %}
    <img src="{{ url_for('static', filename='images/' ~ legende.image) }}" alt="{{ legende.titre }}" class="legende-image">
  {% endif %}

  <div class="legende-contenu">
    {{ legende.contenu | replace('\n','<br>') | safe }}
  </div>

  <p><a href="/{{ lang }}/legendes">Retour</a></p>
</article>
{% endblock %}
